.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: flex-start;
	margin-top: 1.5rem;
	img {
		width: calc(25% - 0.9rem);
		height: auto;
		object-fit: contained;
		border-radius: 0.5rem;
	}
}
@media (max-width: 768px) {
	.gallery {
		img {
			width: calc(50% - 1rem);
		}
	}
}

@media (max-width: 412px) {
	.gallery {
		justify-content: center;
		img {
			width: 90%;
		}
	}
}
